<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/sunny/jquery-ui.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$( ".button" ).button();
	});
	</script>
</head>
<body>

<div style="margin:100px;">

<div class="ui-widget" >
	<div class="ui-state-error ui-corner-all" style="padding:10px;">
	<h1 style="margin:0;">Error</h1>
	
	<p>Failed on: <span th:text="${timestamp}"/></p>
	
	<p>Status:  <span th:text="${status}"/></p>
	
	<p>Error:  <span th:text="${error}"/></p>
	
	<p>Message:  <span th:text="${message}"/></p>
	
	<p>Path:  <span th:text="${path}"/></p>
	
	<p>Exception:  <span th:text="${exception}"/></p>
	
	<p>Headers: <span th:text="${headers}"/></p>
	
	<p style="font-size:12px;font-family:monospace;"><span th:text="${map}"/></p>
	
	</div>
</div>

</div>

</body>
</html>